{
  "version": 1,
  "signals": {
    "250|UDP|192.168.20.10|192.168.20.2": {
      "name": "Rotation pressure boom1",
      "note": ""
    },
    "1716|UDP|192.168.20.10|192.168.20.2": {
      "name": "estado 2",
      "note": ""
    },
    "5845|UDP|192.168.20.10|192.168.20.2": {
      "name": "estado 4",
      "note": ""
    },
    "1713|UDP|192.168.20.10|192.168.20.2": {
      "name": "estado 6",
      "note": ""
    },
    "1360|UDP|192.168.20.10|192.168.20.2": {
      "name": "1",
      "note": ""
    },
    "1363|UDP|192.168.20.10|192.168.20.2": {
      "name": "2",
      "note": ""
    },
    "6194|UDP|192.168.20.10|192.168.20.2": {
      "name": "señal1",
      "note": ""
    },
    "6200|UDP|192.168.20.10|192.168.20.2": {
      "name": "señal",
      "note": ""
    },
    "1405|UDP|192.168.20.10|192.168.20.2": {
      "name": "estado",
      "note": ""
    },
    "1403|UDP|192.168.20.10|192.168.20.2": {
      "name": "estado",
      "note": ""
    },
    "257|UDP|192.168.20.10|192.168.20.2": {
      "name": "feed pressure boom1",
      "note": ""
    },
    "227|UDP|192.168.20.11|192.168.20.2": {
      "name": "feed pressure boom2",
      "note": ""
    },
    "251|UDP|192.168.20.10|192.168.20.2": {
      "name": "percussion pressure boom1 ",
      "note": ""
    },
    "219|UDP|192.168.20.11|192.168.20.2": {
      "name": "rotation pressure boom2",
      "note": ""
    },
    "220|UDP|192.168.20.11|192.168.20.2": {
      "name": "percussion pressure\nboom2",
      "note": ""
    },
    "1589|UDP|192.168.20.11|192.168.20.2": {
      "name": "estado percussion boom2",
      "note": ""
    },
    "5586|UDP|192.168.20.11|192.168.20.2": {
      "name": "estado 5",
      "note": ""
    },
    "4097|UDP|192.168.20.10|192.168.20.2": {
      "name": "hole lengt DS",
      "note": ""
    },
    "3370|UDP|192.168.20.10|192.168.20.2": {
      "name": "number bar",
      "note": ""
    },
    "6427|UDP|192.168.20.10|192.168.20.2": {
      "name": "movimiento 1",
      "note": ""
    },
    "6421|UDP|192.168.20.10|192.168.20.2": {
      "name": "movimiento 4",
      "note": ""
    },
    "168|UDP|192.168.20.2|192.168.20.254": {
      "name": "drilling mode hours  boom1",
      "note": ""
    },
    "203|UDP|192.168.20.2|192.168.20.254": {
      "name": "drilling mode hours boom2 ",
      "note": ""
    },
    "4611|UDP|192.168.20.11|192.168.20.2": {
      "name": "percussion hours boom2",
      "note": ""
    },
    "4865|UDP|192.168.20.10|192.168.20.2": {
      "name": "percussion hours boom1",
      "note": ""
    },
    "6079|UDP|192.168.20.10|192.168.20.2": {
      "name": "estado percussion boom1",
      "note": ""
    },
    "311|UDP|192.168.20.10|192.168.20.2": {
      "name": "rotation pressure ",
      "note": ""
    },
    "882|UDP|192.168.20.10|192.168.20.2": {
      "name": "percussion pressure ",
      "note": ""
    },
    "887|UDP|192.168.20.10|192.168.20.2": {
      "name": "feed pressure ",
      "note": ""
    },
    "1079|UDP|192.168.20.10|192.168.20.2": {
      "name": "señal prercussion ",
      "note": ""
    }
  }
}