{
  "version": 1,
  "signals": {
    "257|UDP|192.168.20.10|192.168.20.2": {
      "name": "feed pressure boom1",
      "note": ""
    },
    "227|UDP|192.168.20.11|192.168.20.2": {
      "name": "feed pressure boom2",
      "note": ""
    },
    "250|UDP|192.168.20.10|192.168.20.2": {
      "name": "Rotation pressure boom1",
      "note": ""
    },
    "251|UDP|192.168.20.10|192.168.20.2": {
      "name": "percussion pressure boom1 ",
      "note": ""
    },
    "219|UDP|192.168.20.11|192.168.20.2": {
      "name": "rotation pressure boom2",
      "note": ""
    },
    "220|UDP|192.168.20.11|192.168.20.2": {
      "name": "percussion pressure\nboom2",
      "note": ""
    },
    "222|UDP|192.168.20.11|192.168.20.2": {
      "name": "estado 1",
      "note": ""
    },
    "1716|UDP|192.168.20.10|192.168.20.2": {
      "name": "estado 2",
      "note": ""
    },
    "5845|UDP|192.168.20.10|192.168.20.2": {
      "name": "estado 4",
      "note": ""
    },
    "1589|UDP|192.168.20.11|192.168.20.2": {
      "name": "estado 3",
      "note": ""
    },
    "1713|UDP|192.168.20.10|192.168.20.2": {
      "name": "estado 6",
      "note": ""
    },
    "5586|UDP|192.168.20.11|192.168.20.2": {
      "name": "estado 5",
      "note": ""
    }
  }
}