{
  "version": 1,
  "signals": {
    "250|UDP|192.168.20.10|192.168.20.2": {
      "name": "Rotation pressure boom1",
      "note": ""
    },
    "1716|UDP|192.168.20.10|192.168.20.2": {
      "name": "estado 2",
      "note": ""
    },
    "5845|UDP|192.168.20.10|192.168.20.2": {
      "name": "estado 4",
      "note": ""
    },
    "1713|UDP|192.168.20.10|192.168.20.2": {
      "name": "estado 6",
      "note": ""
    },
    "1360|UDP|192.168.20.10|192.168.20.2": {
      "name": "1",
      "note": ""
    },
    "1363|UDP|192.168.20.10|192.168.20.2": {
      "name": "2",
      "note": ""
    },
    "1233|UDP|192.168.20.11|192.168.20.2": {
      "name": "3",
      "note": ""
    },
    "6194|UDP|192.168.20.10|192.168.20.2": {
      "name": "señal1",
      "note": ""
    },
    "6200|UDP|192.168.20.10|192.168.20.2": {
      "name": "señal",
      "note": ""
    },
    "1405|UDP|192.168.20.10|192.168.20.2": {
      "name": "estado",
      "note": ""
    },
    "1278|UDP|192.168.20.11|192.168.20.2": {
      "name": "estado",
      "note": ""
    },
    "1403|UDP|192.168.20.10|192.168.20.2": {
      "name": "estado",
      "note": ""
    }
  }
}